@import url("../../root.scss");

.container {
  font-size: 1em;

  .details {
    .header {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 50px;
      overflow-wrap: break-word;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 2.25rem;

      .name {
        display: inline-block;
        margin-right: 16px;
      }

      .editButton {
        justify-self: end;
        padding: 0;
        min-width: 24px;
        margin-right: 10px;
        color: var(--text-color);
      }
    }

    .sectionContainer {
      padding: 32px;
      margin: 30px 0;
      border-radius: 10px;
      max-width: 100%;
      background-color: var(--background-accents);

      .sectionHeader {
        margin-top: 0;
      }

      .attributeName {
        font-weight: 600;
      }

      .projectInfoContainer {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        row-gap: 12px;
      }

      .notes {
        border: 1px dashed grey;
      }
    }

    .topContainer {
      margin-bottom: 50px;
    }

    .dividedContainer {
      display: flex;
      flex-direction: row;
      gap: 30px;

      .leftElements {
        width: 60%;

        .yarnDetails {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }

      .rightElements {
        min-width: 420px;
        height: 100%;
        width: 40%;

        .sectionContainer {
          height: 100%;
        }

        .photosContainer {
          .photos {
            border: 1px dashed grey;

            .swiper-pagination-bullet {
              width: 20px;
              height: 20px;
              background: rgba(0, 0, 0, 0.2);
              opacity: 1;
              text-align: center;
              line-height: 20px;
              font-size: 12px;
              color: #000;
            }

            .swiper-pagination-bullet-active {
              color: #fff;
              background: var(--main-color-dark);
            }

            .addedPhoto {
              position: relative;

              .photo {
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container {
    .details {
      .dividedContainer {
        display: flex;
        flex-direction: column-reverse;
        gap: 0px;

        .leftElements {
          width: 100%;
        }

        .rightElements {
          width: 100%;
        }
      }
    }
  }
}
