.textEditor {
  border: 1px solid #ada7a1;
  border-radius: 5px;

  .toolbar {
    display: flex;
    border-bottom: 2px solid rgba(165, 165, 165, 0.5);
    gap: 12px;

    .formatButton {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px;
      border: none;
      background-color: inherit;
      cursor: pointer;

      &:hover {
        background-color: rgb(165, 165, 165, 0.5);
        border-radius: 5px;
        transition: 0.2s;
      }
    }
  }

  .textField {
    padding: 15px;
    background-color: var(--background-color);
  }
}
