.container {
    .yarnInfoContainer {
        display: grid;
        grid-template-columns: repeat(2, 160px);
        row-gap: 7px;
        
        .attributeName {
            font-weight: 600;
          }
    }
}