@use "./root";

.categoriesMenuBtn {
  width: 100%;
  /*justify-content: start;*/
}
.categoriesMenu {
  ul {
    width: 30vw;
    padding: 0;
  }
  .category {
    @include root.menuElem();

    .btnCategory {
      @include root.menuElemButton();
    }
    .btnBack {
      flex-basis: 50%;
      justify-content: flex-start;
      .btnText {
        padding-left: calc(50% - 34px);
      }
    }
  }
}
