:root {
  --background-color: #f7ede2;
  --main-color-dark: #ef6e6b;
  --main-color-light: #f0b1a8;
  --accent-color: #91a584;
  --accent-color-btn: #fce7c5;
  --text-color-light: white;
  --text-color-dark: black;
  --background-accents: white;
  --main-color-dark-btn: #ee524f;
  --swiper-navigation-color: #ef6e6b;

  --navbar-height: 74px;
  --sidebar-width: 270px;
  --margin-right: 10vw;
  --mobile-breakpoint: 760px;
  --margin-mobile: 10vw;
}

@mixin button($margin-tb, $margin-lr) {
  margin: $margin-tb $margin-lr;
  padding: 14px 32px;
  border: none;
  border-radius: 10px;
  background-color: var(--main-color-dark);

  &:hover {
    background-color: var(--main-color-dark-btn);
    transition: 0.4s;
    cursor: pointer;
  }
}

@mixin menuElem() {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgb(206, 206, 206);
  background-color: var(--background-accents);

  &:hover {
    background-color: var(--accent-color-btn);
  }
}

@mixin menuElemButton() {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background-color: white;
  border: none;
  font-size: 16px;

  &:hover {
    background-color: var(--accent-color-btn);
    cursor: pointer;
  }
}
