@use 'root';
.container {

  .addYarns {
    display: grid;
    grid-template-columns: minmax(calc(80% - 124px), 80%) 124px;

  .formInput {
    width: 100%;
    margin: 10px 0;
    
    div { 
    background-color: var(--background-color);
    }
  }
}

  .addButton {
    @include root.button($margin-tb: 12px, $margin-lr: 40px);

    justify-self: end;
    margin-right: 0;
  }

  .tab {
    display: flex;
    flex-direction: row;
    min-width: max-content;
  }

  .yarnInputs {
    display: grid;
    grid-template-columns: repeat(2, 37%);
    gap: 0px 5.5%;
    margin-top: 16px;

    .formInput {
      width: 100%;
    }
  }
}
