@mixin tile ($minWidth, $height) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: $minWidth;
    min-height: $height;
    max-height: $height;
    margin: 0px;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 28px -4px rgb(146, 147, 153);
    -moz-box-shadow: 0px 8px 28px -4px rgba(146, 147, 153);
    box-shadow: 0px 8px 28px -4px rgba(146, 147, 153);
    border-radius: 10px;
    background-color: var(--background-accents);
    
    .name {
      margin-top: 15px;
      margin-bottom: 30px;
      word-break: break-word;
    }
    
    .addIcon {
      margin: 82.5px;
      color: var(--main-color-dark);
    }
    
    &:hover {
      background-color: var(--accent-color-btn);
      transition: 0.2s;
    }
}

.container {
  .elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: stretch;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
    
    .element {
      @include tile($minWidth: 200px, $height: 290px);
      
      max-width: 300px;
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    .elements {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      
      .element {
        @include tile($minWidth: 300px, $height: 390px);
        
        max-width: 400px;
      }
    }
  }
}