@import url("../../root.scss");

.container {
  font-size: 1em;

  .details {
    .header {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 50px;
      overflow-wrap: break-word;
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 2.25rem;

      .editButton {
        justify-self: end;
        padding: 0;
        min-width: 24px;
        margin-right: 10px;
        color: var(--text-color);

        .editIcon {
          font-size: 32px;
        }
      }
    }

    .sectionContainer {
      padding: 32px;
      margin: 30px 0;
      border-radius: 10px;
      max-width: 100%;
      background-color: var(--background-accents);

      .sectionHeader {
        margin-top: 0;
      }

      .attributeName {
        font-weight: 600;
      }

      .projectInfoContainer {
        display: grid;
        grid-template-columns: repeat(2, 100px);
        row-gap: 12px;
      }

      .notes {
        border: 1px dashed grey;
      }
    }

    .topContainer {
      margin-bottom: 50px;
    }

    .dividedContainer {
      display: flex;
      flex-direction: column-reverse;
      gap: 0px;

      .leftElements {
        width: 100%;
        
        .yarnDetails {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }

      .rightElements {
        height: 100%;
        width: 100%;

        .sectionContainer {
          height: 100%;

          &.photosSection {
            position: relative;
            left: calc(0px - var(--margin-mobile));
            width: calc(100vw - 2 * var(--margin-mobile));
            padding: 0;
            margin: 30px var(--margin-mobile) 0px var(--margin-mobile);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    .details {
      .dividedContainer {
        flex-direction: row;
        gap: 30px;

        .leftElements {
          width: 60%;
        }

        .rightElements {
          width: 40%;
          min-width: 420px;

          .sectionContainer {
            &.photosSection {
              position: unset;
              padding: 32px;
              margin: 30px 0 0 0;
            }
          }
        }
      }
    }
  }
}
