@use "../../root";

.passwordValidationContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;

  .formInput {
    @include root.input($width: 100%);
  }

  .checklist {
    list-style: none;
    font-size: 0.8em;
    margin: 5px 0 15px 0;

    .checklistItem {
      display: inline-flex;
      align-items: center;
      color: grey;

      &::before {
        display: inline-block;
        content: "•";
        margin: 0 3px 0 5px;
      }

      &.correct {
        color: green;

        &::before {
          content: "✓";
          margin: 0 3px 0 5px;
        }
      }

      &.invalid {
        color: red;

        &::before {
          content: "⨯";
          margin: 0 3px 0 5px;
        }
      }
    }
  }
}
