.container {
  .photosContainer {
    .photos {
      border: 1px dashed grey;
      border-radius: 10px;

      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
        font-size: 12px;
        text-align: center;
        line-height: 20px;
      }

      .swiper-pagination-bullet-active {
        background: var(--main-color-dark);
        color: #fff;
      }

      .addedPhoto {
        position: relative;

        .photo {
          border-radius: 10px;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
}

.closeIcon {
  position: absolute;
  top: -140px;
  right: 10px;
  z-index: 10002;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ffffffcc;

  &:hover {
    cursor: pointer;
    background-color: #ffffff;
  }
}

.modal {
  position: absolute;
  top: 0;
  z-index: 10001 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw !important;
  height: 100vh !important;

  .photos {
    width: fit-content !important;
    
    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      opacity: 1;
      background: rgba(0, 0, 0, 0.2);
      text-align: center;
      line-height: 20px;
      font-size: 12px;
      color: #000;
    }

    .swiper-pagination-bullet-active {
      background: var(--main-color-dark);
      color: #fff;
    }

    .addedPhoto {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw !important;

      .photo {
        object-fit: cover;
        object-position: center;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .closeIcon {
    top: 30px;
    right: 30px;
  }
}
