@use "../../root.scss";

.navbar {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: var(--navbar-height);
  -webkit-box-shadow: 0px 3px 15px -4px rgb(146, 147, 153);
  -moz-box-shadow: 0px 3px 15px -4px rgba(146, 147, 153);
  box-shadow: 0px 3px 15px -4px rgba(146, 147, 153);
  background-color: var(--background-color);

  .navElements {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: inherit;
    padding: 0;
    list-style: none;

    .logo {
      direction: ltr;
      justify-self: center;
      width: max-content;
      font-size: 32px;
      font-weight: bolder;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--main-color-dark);

        .logoPicture {
          margin-right: 10px;
        }
      }
    }

    .navElement {
      width: fit-content;
      padding: 0 5px;

      &:last-of-type {
        padding-right: 0;
      }

      &:nth-of-type(2) {
        height: inherit;
      }
    }

    .communityPatternsBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: max-content;
      border: none;
      background-color: inherit;
      font-size: 13px;

      &:hover {
        cursor: pointer;
        color: var(--main-color-dark);

        .communityPatternsIcon {
          fill: var(--main-color-dark);
        }
      }

      .btnText {
        margin-top: 4px;
      }

      .communityPatternsIcon {
        width: 32px;
        margin-right: 7px;
      }
    }

    .addNew {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: inherit;
      border: none;
      background-color: inherit;

      &:hover {
        cursor: pointer;

        svg {
          fill: var(--accent-color);
        }
      }

      svg {
        fill: var(--main-color-dark);
      }
    }

    .accountBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      vertical-align: middle;
      border: none;
      background-color: inherit;

      &:hover {
        svg {
          fill: var(--main-color-dark);
          transition: 0.2s fill;
          cursor: pointer;
        }
      }
    }
  }

  .sidebarContainer {
    display: inline-block;
    width: max-content;
  }
}

.addMenuPaper {
  z-index: 10001;
  padding-bottom: 7px;
  background-color: var(--background-color) !important;
}

@media screen and (min-width: 800px) {
  .navbar {
    top: 0;

    .navElements {
      grid-template-columns: 1fr min-content min-content min-content;
      margin: 0px var(--margin-right);

      .logo {
        justify-self: start;
        width: max-content;
        margin-right: calc(var(--sidebar-width) - var(--margin-right));
      }

      .navElement {
        padding: 0 25px;

        &:last-of-type {
          padding-right: 5px;
        }
      }

      .accountBtn {
        justify-self: end;
        flex-direction: row;
      }

      .communityPatternsBtn {
        flex-direction: row;
        font-size: 18px;
      }

      .addNew {
        flex-direction: row;
        height: inherit;
      }
    }
  }

  .addMenuPaper {
    padding-top: 7px;
  }
}
