@import url("../../root.scss");
//TODO: fix on moblie

.navbar {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: var(--navbar-height);
  -webkit-box-shadow: 0px 3px 15px -4px rgb(146, 147, 153);
  -moz-box-shadow: 0px 3px 15px -4px rgba(146, 147, 153);
  box-shadow: 0px 3px 15px -4px rgba(146, 147, 153);
  background-color: var(--background-color);

  .navElements {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    align-items: center;
    justify-items: center;
    width: 100vw;
    padding: 0;
    list-style: none;

    .logo {
      direction: ltr;
      justify-self: center;
      width: max-content;
      font-size: 32px;
      font-weight: bolder;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--main-color-dark);

        .logoPicture {
          margin-right: 10px;
        }
      }
    }

    .menuIcon {
      button {
        border: none;
        background-color: inherit;
      }
    }

    .addIcon {
      button {
        border: none;
        background-color: inherit;

        svg {
          fill: var(--main-color-dark);
        }
      }
    }

    .accountIcon {
      display: inline-block;
      vertical-align: middle;

      &:hover {
        svg {
          fill: var(--main-color-dark);
          transition: 0.2s fill;
          cursor: pointer;
        }
      }

      button {
        width: inherit;
        height: inherit;
        border: none;
        background-color: inherit;
      }
    }
  }

  .sidebarContainer {
    display: inline-block;
    width: max-content;
  }
}

.addMenuPaper {
  padding-bottom: 7px;
  background-color: var(--background-color) !important;
}

@media screen and (min-width: 800px) {
  .navbar {
    top: 0;

    .navElements {
      margin-left: var(--sidebar-width);
      margin-right: var(--margin-right);

      .logo {
        width: max-content;
        margin-right: calc(var(--sidebar-width) - var(--margin-right));
      }

      .accountIcon {
        justify-self: end;
      }
    }
  }
}
