.container {
  .header {
    padding-left: 50px;
    font-size: 2em;
  }
}

.backButton {
  position: absolute;
  top: 38px;
}

@media screen and (min-width: 800px) {
  .container {
    .header {
      font-size: 3em;
    }
  }
}
