.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: var(--margin-mobile);
  margin-right: var(--margin-mobile);
   .header {
    font-size: 36px;
    padding: 12px 0px;
    .arrow {
      padding-left: 10px;
      font-size: 26px;
    }
    &:hover {
      transition: 0.2s;
      color: var(--main-color-dark);

      .arrow {
        font-size: 28px;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .container {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
      .header {
      font-size: 36px;
      padding: 12px 0px;
      .arrow {
        padding-left: 10px;
        font-size: 26px;
      }
      &:hover {
        transition: 0.2s;
        color: var(--main-color-dark);
  
        .arrow {
          font-size: 28px;
        }
      }
    }
  }
}