.container {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    .mainContainer {
        width: calc(100vw - var(--sidebar-width));
        margin-right: var(--margin-right);
    }
}