.container {
    display: flex;
    flex-direction: row;

    .header {
        font-size: 34px;
        .arrow {
            padding-left: 10px;
            font-size: 26px;
        }
        &:hover {
            transition: 0.2s;
            font-size: 36px;
            color: #f5720e;

            .arrow {
                font-size: 28px;
            }
        }
    }
}