@use "../components/Tiles.module.scss";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: var(--margin-mobile);
  margin-right: var(--margin-mobile);
  .header {
    font-size: 36px;
    padding: 12px 0px;
    .arrow {
      padding-left: 10px;
      font-size: 26px;
    }
    &:hover {
      transition: 0.2s;
      color: var(--main-color-dark);

      .arrow {
        font-size: 28px;
      }
    }
  }
  .tiles {
    list-style: none;
    display: grid;
    align-items: center;
    gap: 2rem;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-items: stretch;
    .tile {
      @include Tiles.tile($minWidth: 200px, $height: 290px);
      max-width: 300px;
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
    .header {
      font-size: 36px;
      padding: 12px 0px;
      .arrow {
        padding-left: 10px;
        font-size: 26px;
      }
      &:hover {
        transition: 0.2s;
        color: var(--main-color-dark);

        .arrow {
          font-size: 28px;
        }
      }
    }
  }
  .tiles {
    grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
    .tile {
      @include Tiles.tile($minWidth: 300px, $height: 390px);
      max-width: 400px;
    }
  }
}
