@use '../components/root';

.container {
    .landingPage {
        width: 100%;
        height: calc(90vh - 68px);
        position: relative;
        .landingPhoto {
            width: inherit;
            height: inherit;
            object-fit: cover;
            z-index: 1;
            position: relative;
            object-position: top;
        }
        .waves {
            position: absolute;
            top: 51vh;
            z-index: 50;
            height: auto;
        }
        .landingTextContainer {
            position: absolute;
            z-index: 100;
            color: white;
            width: 35vw;
            left: 8%;
            top: 17%;
            .landingHeader {
                color: var(--text-color-light);
                font-size: 3rem;
            }
            .landingText {
                font-size: 1.25rem;
                margin: 40px 0px;
            }
            .landingButton {
                @include root.button($margin-tb: 0px, $margin-lr: 0px);
                font-weight: 600; 
            }
        }
    }
}