.footer {
  position: relative;
  top: var(--navbar-height);
  height: fit-content;
  margin-top: 50px;
  padding: 30px 50px 20px 50px;
  background-color: var(--main-color-light);

  .main {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    .logoAndMedia {
      .logo {
        display: flex;
        align-items: center;

        .logoPicture {
          margin-right: 10px;
        }

        .logoText {
          display: inline-block;
          margin: 0;
        }
      }

      .mediaIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 15px;

        .mediaIcon {
          margin: 0 7px 0 7px;

          &:hover {
            cursor: pointer;

            svg {
              fill: var(--main-color-dark);
              transition: 0.1s fill;
            }
          }

          svg {
            width: 26px;
            height: 26px;
          }

          &.facebook svg {
            width: 29px;
            height: 29px;
          }
        }
      }
    }

    .links {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      align-items: center;
      margin-top: 20px;

      .section {
        .sectionHeader {
          width: fit-content;
          margin-top: 0;
          font-size: 22px;

          &::after {
            content: "";
            display: block;
            width: 70%;
            height: 1px;
            background-color: var(--main-color-dark);
            -webkit-box-shadow: 0px 0px 2px 0px var(--main-color-dark);
            -moz-box-shadow: 0px 0px 2px 0px var(--main-color-dark);
            box-shadow: 0px 0px 2px 0px var(--main-color-dark);
          }
        }

        ul {
          padding: 0;
          list-style: none;
          font-size: 16px;

          li {
            padding: 5px 0;

            &:hover,
            &:hover a {
              cursor: pointer;
              color: var(--main-color-dark);
              transition: 0.1s color;
            }

            .elementIcon {
              display: inline-block;
              margin-right: 5px;

              svg {
                width: 15px;
                height: 15px;
              }
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: var(--main-color-dark);
      -webkit-box-shadow: 0px 0px 2px 0px var(--main-color-dark);
      -moz-box-shadow: 0px 0px 2px 0px var(--main-color-dark);
      box-shadow: 0px 0px 2px 0px var(--main-color-dark);
    }
  }
}

@media screen and (min-width: 800px) {
  .footer {
    padding: 50px 15% 20px 15%;

    .main {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: unset;

      .logoAndMedia {
        .mediaIcons {
          margin: 20px 0px 0px 52px;
          display: inline-block;

        }
      }

      .links {
        .section {
          .sectionHeader {
            font-size: 24px;
          }
        }
      }
    }
  }
}
