@use "../../root.scss";

.container {
  .sectionContainer {
    padding: 32px;
    margin: 32px 0;
    border-radius: 10px;
    background-color: var(--background-accents);
  }

  .formInput {
    width: 80%;
    margin: 0;

    div {
      background-color: var(--background-color);
    }
  }
  .createdCounters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    max-height: 700px;
    overflow: auto;
    padding: 20px 0;
  }

  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    .submitBtn {
      @include root.button($margin-tb: 20px, $margin-lr: 0);

      font-size: 18px;
    }

    .submitBtnOff {
      @include root.button($margin-tb: 20px, $margin-lr: 0);

      background-color: gray;
      font-size: 18px;
      pointer-events: none;
    }
  }
}
