:root {
    --background-color: #FFFAF4;
    --main-color-dark: #6259A6;
    --main-color-light: #a39cd3;
    --acent-color: #FFF0A3;
    --text-color-light: white;
    --text-color-dark: black;
    --background-accents: white;
}