.photosContainer {
  .photos {
    border: 1px dashed grey;
    .addPhoto {
      height: inherit;
      .btnAddPhoto {
        height: 250px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-top: 30px;
        color: var(--main-color-dark);
        .btnAddPhotoText {
          color: var(--text-color-dark);
        }
      }
    }
    .addedPhoto {
      position: relative;
      .photo {
        border-radius: 5px;
      }
      .btnDeletePhoto {
        position: absolute;
        top: 10px;
        left: 130px;
        border-radius: 50%;
        padding-top: 5px;
        height: 40px;
        width: 40px;
        border: none;
      }
    }
  }
}