@import url("./root.scss");

.container {
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  .navbarContainer {
    height: var(--navbar-height);
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 3px 15px -4px rgb(146, 147, 153);
    -moz-box-shadow: 0px 3px 15px -4px rgba(146, 147, 153);
    box-shadow: 0px 3px 15px -4px rgba(146, 147, 153);
    width: inherit;
    .navbar {
      width: inherit;
      margin: 0 var(--margin-mobile);
      display: grid;
      align-items: center;
      grid-template-columns: minmax(70px, 1fr) minmax(min-content, 1fr) minmax( 70px, 1fr );
      .navMobile {
        justify-self: start;
        align-items: center;
      }

      .logo {
        font-size: 32px;
        font-weight: bolder;
        width: max-content;
        justify-self: center;

        a {
          color: var(--main-color-dark);
          display: flex;
          align-items: center;
          justify-content: center;
          .logoPicture {
            margin-right: 10px;
          }
        }
      }
      .navElements {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 0;
        justify-self: end;

        .accountIcon {
          padding-top: 6px;
          font-size: 45px;
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
  }
  .sidebarContainer {
    width: max-content;
    display: inline-block;
  }
}

@media screen and (min-width: 800px) {
  .container {
    .navbarContainer {
      .navbar {
        margin-left: var(--sidebar-width) ;
        margin-right: var(--margin-right) ;
        .logo {
          margin-right: calc(var(--sidebar-width) - var(--margin-right));
          width: max-content;
        }
      }
    }
  }
}
