.container {
  .photosContainer {
    .photos {
      border: 1px dashed grey;
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
      }
      .swiper-pagination-bullet-active {
        color: #fff;
        background: var(--main-color-dark);
      }
      .addedPhoto {
        position: relative;
        .photo {
          border-radius: 5px;
        }
      }
    }
  }
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .photosZoomed {
    width: min-content !important;
    .photos {
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: #000;
        opacity: 1;
        background: rgba(0, 0, 0, 0.2);
      }
      .swiper-pagination-bullet-active {
        color: #fff;
        background: var(--main-color-dark);
      }
      .addedPhoto {
        width: min-content !important;
        .photo {
          border-radius: 5px;
        }
      }
    }
  }
}
