@import url("./root.scss");

.container {
  width: 70vw;
  margin-top: 50px;
  font-size: 16px;
  .form {
    .formContent {
      gap: 100px;

      .sectionContainer {
        background-color: var(--background-accents);
        padding: 32px;
        margin: 32px 0;
        border-radius: 10px;

        .formInput {
          margin: 10px 0;
          width: 60%;
          background-color: var(--background-color);
        }

        .typeToggle {
          margin: 10px 0;
        }

        .categoriesContainer {
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .toggleButton {
          color: var(--text-color-dark);

          &:hover {
            background-color: var(--accent-color-btn);
            transition: 0.5s;
          }
        }
        .additionalText {
          color: rgb(87, 87, 87);
          font-size: 16px;
        }
        .notesField {
          width: 80%;
        }
        .error {
          color: #d32f2f;
        }
      }
    }
    .submitBtn {
      background-color: var(--main-color-dark);
      border: none;
      border-radius: 10px;
      padding: 14px 32px;
      margin: 12px 40px;
      &:hover {
        cursor: pointer;
        background-color: var(--main-color-dark-btn);
        transition: 0.4s;
      }
    }
  }
}
