@import url("./root.scss");
.container {
  display: flex;
  flex-direction: column;
  min-width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  position: fixed;
  padding: 40px;
  padding-left: 30px;
  right: 0;
  background-color: var(--background-accents);
  top: var(--navbar-height);

  .header:hover .link {
    transition: 0.2s;
    color: #f5720e;
  }
  .elements {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;

    .element {
      padding: 12px;

      &:hover .link {
        transition: 0.2s;
        color: #f5720e;
      }
    }
  }
  .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .text {
      padding-left: 10px;
    }
  }
}

.containerHidden {
  display: none;
}

@media screen and (min-width: 750px) {
  .container {
    min-width: var(--sidebar-width);
    padding: 60px;
    padding-left: 50px;
    background-color: var(--background-color);
    position: static;
    .elements {
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      padding: 0;
    }
  }
}
