@mixin tile () {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--background-accents);
    min-width: 300px;
    padding: 30px;
    -webkit-box-shadow: 0px 8px 28px -4px rgb(146, 147, 153);
    -moz-box-shadow: 0px 8px 28px -4px rgba(146, 147, 153);
    box-shadow: 0px 8px 28px -4px rgba(146, 147, 153);
    border-radius: 10px;
    min-height: 390px;
    max-height: 390px;
    margin: 0px;
    .name {
      word-break: break-word;
      margin-top: 15px;
      margin-bottom: 30px;
    }
    .addIcon {
      color: var(--main-color-dark);
      margin: 82.5px;
    }
    &:hover {
      transition: 0.2s;
      background-color: var(--accent-color-btn);
    }
}

.container {
  .elements {
    list-style: none;
    display: grid;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    .element {
      @include tile();
      max-width: 400px;
    }
  }
}

@media screen and (min-width: 760px) {
  .container {
    .elements {
      justify-items: stretch;
    }
  }
}