.main {
  padding-top: 0px;
  padding-bottom: var(--navbar-height);
  margin: 0px var(--margin-mobile);
  overflow-x: hidden;
}

@media screen and (min-width: 800px) {
  .main {
    margin: unset;
    padding-top: var(--navbar-height);
    padding-bottom: 0;
  }
}
