@use "../../components/root.scss";

.container {
  width: 100%;
  margin-top: 50px;
  font-size: 16px;
  .form {
    .formContent {
      gap: 100px;

      .sectionContainer {
        background-color: var(--background-accents);
        padding: 32px;
        margin: 32px 0;
        border-radius: 10px;

        .formInput {
          margin: 10px 0;
          width: 100%;
          background-color: var(--background-color);
        }

        .typeToggle {
          margin: 10px 0;
        }

        .categoriesContainer {
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .toggleButton {
          color: var(--text-color-dark);

          &:hover {
            background-color: var(--accent-color-btn);
            transition: 0.5s;
          }
        }
        .additionalText {
          color: rgb(87, 87, 87);
          font-size: 16px;
        }
        .notesField {
          width: 100%;
          margin-top: 40px;
          margin-bottom: 40px;
        }
      }
    }
    .submitBtn {
      @include root.button($margin-tb: 0px, $margin-lr: 0px);
    }
  }
}

@media screen and (min-width: 760px) {
  .container {
    width: 70vw;
  }
}
