@mixin tile ($minWidth, $height, $width: unset) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: $minWidth;
    width: $width;
    min-height: $height;
    max-height: $height;
    margin: 0px;
    padding: 20px;
    -webkit-box-shadow: 0px 8px 28px -4px rgb(146, 147, 153);
    -moz-box-shadow: 0px 8px 28px -4px rgba(146, 147, 153);
    box-shadow: 0px 8px 28px -4px rgba(146, 147, 153);
    border-radius: 10px;
    background-color: var(--background-accents);
    
    .name {
      margin-top: 0px;
      margin-bottom: 20px;
      word-break: break-word;
    }
    
    .addIcon {
      margin: 40px;
      color: var(--main-color-dark);
    }
    
    &:hover {
      background-color: var(--accent-color-btn);
      transition: 0.2s;
    }
}
//TODO: center header for mobile
.container {
  .elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
    
    .element {
      @include tile($minWidth: 180px, $height: 290px, $width: 100%);
      
      max-width: 300px;
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    .elements {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: stretch;
      
      .element {
        @include tile($minWidth: 280px, $height: 390px);
        
        max-width: 400px;

        .addIcon {
          margin: 82.5px;
        }
      }
    }
  }
}