.photosContainer {
  background-color: var(--background-color);
  border: 1px dashed grey;

  .photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    width: 100%;
    overflow: visible;

    .addedPhoto {
      width: 200px;
      height: 250px;

      .photo {
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        pointer-events: none;
      }

      .photoNoPreview {
        border: 1px solid rgba(25, 118, 210, 0.5);
        background-color: var(--background-accents);
      }
    }
  }

  .noFiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    color: var(--main-color-dark);

    .noFilesText {
      color: var(--text-color-dark);
    }
  }
}

.closeIcon {
  position: absolute;
  top: 1130px;
  right: 40px;
  z-index: 10002;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #ffffffcc;

  &:hover {
    cursor: pointer;
    background-color: #ffffff;
  }
}

