.photosContainer {
  background-color: var(--background-color);
  border: 1px dashed grey;

  .photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 20px;
    width: 100%;

    .addedPhoto {
      position: relative;
      width: 200px;
      height: 250px;

      .photo {
        overflow: hidden;
        border-radius: 5px;
      }

      .photoNoPreview {
        border: 1px solid rgba(25, 118, 210, 0.5);
        background-color: var(--background-accents);
      }
    }
  }

  .noFiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 250px;
    border-radius: 5px;
    color: var(--main-color-dark);

    .noFilesText {
      color: var(--text-color-dark);
    }
  }
}
