.container {
  display: flex;
  flex-direction: row;

  .mainContainer {
    width: calc(100vw - 2 * var(--margin-mobile));
    margin-top: 15px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    margin: unset;

    .mainContainer {
      width: calc(100vw - var(--sidebar-width) - var(--margin-right));
      margin-top: 35px;
    }
  }
}
