.container {
  display: flex;
  flex-direction: row;

  .mainContainer {
    width: 100vw;
  }
}

@media screen and (min-width: 800px) {
  .container {
    margin: unset;

    .mainContainer {
      width: calc(100vw - var(--sidebar-width));
    }
  }
}
