@use '../../root';
.container {

  .addYarns {
    display: grid;
    grid-template-columns: minmax(calc(80% - 124px), 80%) 124px;
    align-items: center;

  .formInput {
    @include root.input($margin-lr: 0, $margin-tb: 20px, $width: 100%);
  }
}

  .addButton {
    @include root.button($margin-tb: 12px, $margin-lr: 40px);

    justify-self: end;
    margin-right: 0;
    height: 56px;
  }

  .tab {
    display: flex;
    flex-direction: row;
    min-width: max-content;
  }

  .inputs {
    display: grid;
    grid-template-columns: repeat(2, 37%);
    gap: 0px 5.5%;
    margin-top: 16px;

    .formInput {
      width: 100%;
    }
  }
}
