@use "../../root.scss";

.container {
  .header {
    font-size: 2.5em;
    text-transform: uppercase;
  }

  .sectionContainer {
    padding: 32px;
    margin: 32px 0;
    border-radius: 10px;
    background-color: var(--background-accents);

    .formInput {
      @include root.input($margin-lr: 0, $margin-tb: 20px, $width: 100%);
    }
    .submitBtn {
      @include root.button($margin-tb: 20px, $margin-lr: 0);
    }
  }
}
