.container {
    width: 100%;
      .header {
        font-size: 42px;
      }

      .upFab {
        position: fixed;
        bottom: 40px;
        right: 40px;
        background-color: var(--accent-color);

        &:hover {
          background-color: var(--accent-color-btn);
        }
      }
    }
    