@use '../Tiles/Tiles.module.scss';

.container {
  width: 90vw;
  height: max-content;

  .loadedElement {
    max-width: 310px;

    .element {
    @include Tiles.tile($minWidth: 300px, $height: 390px);

      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: calc(99vw - var(--sidebar-width));
  }
}
