@use '../Tiles/Tiles.module.scss';

.container {
  width: 90vw;
  height: max-content;

  .loadedElement {
    @include Tiles.tile($minWidth: 300px, $height: 390px);
    
    max-width: 310px;
  }

  .addIcon {
    margin: 75px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: calc(99vw - var(--sidebar-width));
  }
}
