.textEditor {
    .textField {
        padding: 15px;
        background-color: var(--background-color);
    }
}
.standardNotes{
    padding: 16px;
    min-height: 150px;
    background-color: var(--background-color);
}